
.carousel-indicators{
    /* border:1px solid; */
    justify-content: flex-end;
    margin-right: 50px;
    z-index:1;
}
.carousel-control-prev{
    border:1px;
    /* background-color: grey; */
    padding-right: 80px;
    z-index: 0;
}
.carousel-control-next{
    border:1px;
    /* background-color: grey; */
    padding-left: 80px;
    z-index: 0;
}
.carousel-control-next-icon{
    background-color:#e2dada8e;
    height:50px;
    width:50px;
    /* border:1px solid; */
    border-radius:50px;
}
.carousel-control-prev-icon{
    background-color: #e2dada77;
    height:50px;
    width:50px;
    /* border:1px solid; */
    border-radius:50px

}